/* Block Widgets CSS
---------------------------------------------------------------------------- */
.empty-grid-block {
  display: none;
}

.block-post-grid {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.block-post-grid--post {
  margin-bottom: 30px;
  max-height: 700px;
  position: relative;
}

.block-post-grid--post-thumbnail {
  height: 190px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.block-post-grid--content-subsection .block-post-grid--post-thumbnail {
  height: 166px;
}

.block-post-grid--post-thumbnail img {
  width: 100%;
  height: 290px;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  transition: all 100ms ease-in-out;
  display: block;
  object-fit: cover;
}

.block-post-grid--content-subsection .block-post-grid--post-thumbnail {
  background-position: 0 60px;
}

.block-post-grid--post:hover .block-post-grid--post-thumbnail img {
   /* filter: grayscale(100%); */
   opacity: 90%
}

.block-post-grid--content-subsection .block-post-grid--post,
.block-editor-block-list__block .block-post-grid--post {
  height: auto;
}

.block-post-grid--post-content {
  overflow: hidden;
  min-height: 108px;
  border-bottom: #FFF 4px solid;
  width: 100%;
}

.block-post-grid--post-content h2 {
  word-wrap: break-word;
  overflow: hidden;
  margin: 10px 0;
}

.block-post-grid--post-content a.event-button {
  font-size: 13px;
}

.block-editor-block-list__block .block-post-grid--post-content a.event-button{
  font-size: 14px;
}

.block-post-grid--content-subsection .block-post-grid--post-content {
  /* min-height: calc(0.6666667 * 158px); */
}


.block-post-grid--post-content .subtitle {
  font-weight: bold;
}

.block-post-grid--post-content .subtitle {
  font-size: 26px;
}

.block-post-grid--content-subsection .block-post-grid--post-content .subtitle {
  font-size: 16px;
}

.block-post-grid--post-content h4 {

}

.block-post-grid--post-content p {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.block-post-grid--content-subsection .block-post-grid--post-content p,
.block-post-grid--content-subsection .block-post-grid--post-content-extra{
  font-size: 16px;
}

.block-post-grid--post-content a {
  position: relative;
  text-decoration: none;
}

.block-post-grid--post-content a:after {

}

.block-post-grid--post-content a:hover:after {

}

.block-post-grid--post-content-excerpt {
  overflow: hidden;
  margin: 0;
  transition: all 200ms ease-in-out;
  display: none;
}

.block-post-grid--post:hover .block-post-grid--post-content {
   border-bottom: none;
}

.block-post-grid--post:hover .block-post-grid--post-content-excerpt {
  display: block;
}

.block-post-grid--post-actions {
  display: grid;
  grid-column-gap: 20px;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
}

.block-post-grid--post:hover .block-post-grid--post-actions {
  display: grid;
  grid-column-gap: 20px;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
}

.block-post-grid--post:hover .block-post-grid--post-actions > div {
  grid-row: 1;
}

.block-post-grid--post-content-extra {
  display: block;
  padding-top: 0;
}

.block-post-grid--post:hover .block-post-grid--post-content-extra {
  display: block;
}

.block-post-grid--post-actions {
  padding-top: 0;
}

.block-post-grid-wrapper {
  padding-top: 20px;
}

.block-post-grid--sidebar {
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 18px;
}

.block-post-grid--sidebar p {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  line-height: 1;
}

.block-post-grid--sidebar h2 a, .block-post-grid--post-content h2 a {
  text-decoration: none;
  background-color: transparent;
  font-size: 30px;
  font-weight: normal;
  color: #000;
}

.block-post-grid--content-subsection .block-post-grid--post-content h2 {
  font-size: 22px;
}

.block-post-grid--post-content a:link, .block-post-grid--post-content a:hover, .block-post-grid--post-content a:visited {
  color: #000;
}

.block-post-grid--post-content a.event-button:link,
.block-post-grid--post-content a.event-button:visited {
  text-decoration: none;
  cursor: pointer;
  line-height: 2em;
  margin: 0;
  padding: 0 15px;
}

.block-post-grid--post-content a.event-button:link {
  font-weight: normal;
  font-size: 14px;
  overflow: hidden;
  margin: 0;
  text-align: center;
  display: block;
}


.archive-wrapper {
  overflow: hidden;
}

/* widget hover: show red bar at top */
.bock-post-grid--hover-indicator {
  position: absolute;
  height: 10px;
  left: 0;
  right: 0;
  display: none;
  z-index: 1;
}

.block-post-grid--post:hover .bock-post-grid--hover-indicator {
  display: block;
}

@media only screen and (max-width: 767px) {
  .sidebar__inner {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  .block-post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }

  .block-post-grid--post {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .block-post-grid--sidebar h2, .block-post-grid--post-content h2 {
    font-size: 30px;
    overflow: hidden;
  }

  .block-post-grid--post-content {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 960px) {
  .archive-header {
    overflow: hidden;
    float: right;
  }

  .block-post-grid--post-thumbnail {
    height: 290px;
  }

  .block-post-grid--post-content a.event-button {
    font-size: 20px;
  }

  .block-post-grid--post-content p {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .block-post-grid--content-subsection .block-post-grid--post-content p,
  .block-post-grid--content-subsection .block-post-grid--post-content-extra{
    font-size: 18px;
  }

  .block-post-grid--post-content {
    min-height: 108px;
    overflow: hidden;
  }

  .block-post-grid--content-subsection .block-post-grid--post-content {
    min-height: 90px;
  }

  .block-post-grid--post {
    margin-bottom: 35px;
  }

  .block-post-grid--sidebar {
    text-align: left;
  }

  .block-post-grid--post-content a.event-button:link {
    font-size: 18px;
  }

  .block-post-grid--content-subsection .block-post-grid--post-content a.event-button:link {
    font-size: 14px;
  }

  .block-post-grid--post-content-extra {
    padding-top: 0;
    display: none;
  }

  .block-post-grid--post-content-excerpt {
    display: block;
  }

  .block-post-grid--post-actions {
    padding-top: 16px;
  }

  .block-post-grid--post-actions {
    display: none;
  }

  .block-post-grid--post:hover .block-post-grid--post-actions {
    display: grid;
  }
}



@media only screen and (min-width: 1281px) {
  .block-post-grid--post-content a.event-button:link {
    font-size: 20px;
  }

  .block-post-grid--content-subsection .block-post-grid--post-content a.event-button:link {
    font-size: 14px;
  }

}
